<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="3.0"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <display-name>JSF 2 + Spring 3 Integration example</display-name>
    <!-- The welcome page -->
    <welcome-file-list>
        <welcome-file>index.xhtml</welcome-file>
    </welcome-file-list>

    <!-- Prior to Servlet 3.0 define either an error-code or an exception-type
		but not both -->
    <error-page>
        <!-- Define error page to react on Java exception -->
        <exception-type>java.lang.Throwable</exception-type>
        <!-- The location of the resource to display in response to the error will
            point to the Spring MVC handler method -->
        <location>/error</location>
    </error-page>

    <error-page>
        <error-code>404</error-code>
        <location>/error</location>
    </error-page>

    <!-- With Servlet 3.0 and above general error page is possible -->
    <error-page>
        <location>/error</location>
    </error-page>
</web-app>